* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.colores-generados {
  width: 25%;
  height: 100vh;
}

.contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding-top: 1rem;
  gap: 1rem;
  background-color: #69e7e1;
}

.contenedor select {
  width: 200px;
  height: 50px;
  outline: none;
}

.btn-colors {
  background-color: #3173ee;
  padding: 12px;
  border-radius: 15px;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 300px) {
  .container {
    width: 100%;
  }

  .contenedor {
    width: 100%;
  }

  .contenedor select {
    width: 100px;
  }
}
